#!/usr/bin/env bash

# .exports
#
# Export environment variables loaded into every terminal session.
# 

# Make vim the default editor
export EDITOR='vim';

# Set up gopaths (make sure you've run bootstrap first)
export GOPATH=$HOME/Developer/go
export PATH=$PATH:/usr/local/go/bin


## OSX SPECIFIC

if [ "$OSTYPE" == "linux-gnu" ]; then

	# Linux-Specific Code Here
	export PATH="$PATH"
	
elif [ "$OSTYPE" == "darwin"* ]; then
	
	# Enable brew installs in sbin
	export PATH="/usr/local/sbin:$PATH"

	# Specific brew package variables
	# -------------------------------

	# nvm - node version manager
	export NVM_DIR="$HOME/.nvm"
	. "$(brew --prefix nvm)/nvm.sh"

fi;
